@import "variables";

html, body {
    height:100%;
    margin:0;
    padding:0;
}

.cb-container {
    position: relative;
}

.main-panes {
    height: calc(100% - #{$MAIN_MENU_HEIGHT}
         - #{$MAIN_MENU_PADDING_TOP}
         - #{$MAIN_MENU_PADDING_BOTTOM}
         - #{$FOOTER_HEIGHT});
}

a, button {
    background-color: #2196F3;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 2px gray;
    }
}
