@import "variables";

.footer {
    height: $FOOTER_HEIGHT;
    width: calc(100% - 20px);

    padding: 0px 10px;
    background-color: #E6E6E6;

    position: absolute;
    bottom: 0;

    font-size: 14px;
    line-height: $FOOTER_HEIGHT;

    color: black;
}
