@import "variables";

canvas.surface {
    display: inline-block;
    vertical-align: bottom;
    outline: none;
    user-select: none;
}

#surface-help {
    position: fixed;
    top: #{$MAIN_MENU_HEIGHT + $MAIN_MENU_PADDING_TOP + $MAIN_MENU_PADDING_BOTTOM};
    left: 0;
    padding: 10px;
    background-color: white;
    border-bottom-right-radius: 3px;
	border-top: solid 1px #CCC;

	div.close {
		position: absolute;
		top: 0;
		right: 0;

		color: red;
		background-color: #FFF;
		font-size: 12px;
		font-weight: bold;
		padding: 2px 5px;
		border: solid 1px gray;
		border-top: none;
		border-right: none;
		border-bottom-left-radius: 3px;
		cursor: pointer;
	}

    div.section {
        margin-bottom: 10px;

        div.section-name {
            font-weight: bold;
            font-size: 18px;
            opacity: 1;
        }

		div.action {
			margin: 3px;

			div.shortcut {
				display: inline-block;
				font-size: 10px;
				border: solid 1px gray;
				padding: 4px;
				border-radius: 3px;
				cursor: default;
				color: gray;
			}

			label {
                text-align: center;
				display: inline-block;
				font-size: 14px;
                width: 120px;
			}

			button {
				color: black;
				background-color: #c9e6fd;
                width: 120px;

				&:hover {
					background-color: #74c1fb;
				}
			}
		}
    }
}
