canvas.surface {
    display: inline-block;
    vertical-align: bottom;
    outline: none;
    user-select: none;
}

div.surface-toolbar {
    display: inline-block;
    background-color: #E6E6E6;
    height: calc(100% - 25px);
    min-width: 120px;
    width: 180px;

    .section {
        margin-bottom: 10px;
        margin: 5px;

        .section-name {
            font-size: 20px;
            width: 100%;
            margin-bottom: 10px;
            font-weight: bold;
        }
        label {
            display: block;
        }
    }
}
