<div class="section">
    <div class="section-name">Render</div>
    <label>[B] Toggle bounds</label>
</div>
<div class="section">
    <div class="section-name">Controls</div>
    <label>[Mouse right] Move camera</label>
    <label>[Mouse left] Select geometry</label>
    <label>[A] Toggle selection</label>
</div>
<div class="section">
    <div class="section-name">Transform</div>
    <label>[G] Translate</label>
    <label>[R] Rotate</label>
    <label>[S] Scale</label>
</div>
<div class="section">
    <div class="section-name">Add geometry</div>
    <label>[E] Extrude (TODO)</label>
    <label>[N] Subdivide (TODO)</label>
</div>
<div class="section">
    <div class="section-name">Remove geometry</div>
    <label>[M] Merge (TODO)</label>
    <label>[Supr] Delete (TODO)</label>
</div>
